/*** fonts ***/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

/*****  CHANGES BY SKÖVDE KOMMUN IT/ALICE *****/
:root {
  --primary-color: #6CA03B;
  --primary-color-light: #D3EAC2;
  --primary-color-lighter: #f2f8ec;
  --primary-color-dark: #3f5d23;
  --primary-color-darker: #0c1207;
  --accent-color: #531F6E;
  --accent-color-light: #a98fb7;
  --accent-color-lighter: #eee9f1;
  --accent-color-dark: #2a1037;
  --accent-color-darker: #08030b;
  --alert-color: #d42f2f;
  --success-color: #00661F;
  --success-color-dark: #0B501E;
  --success-color-darker: #082B0E;
  --box-shadow: 0 1px 3px 0 #cccccc;
  --box-shadow: none;
  --border: 1px solid var(--primary-color-dark);
}

html,
body,
.carousel-control .icon-prev,
.carousel-control .icon-next,
header .logo h1,
button,
input,
select,
textarea,
.btn-help {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: white !important;
  background-size: cover;
  backdrop-filter: blur(10px);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3cpath d='M1169.27 1250.39C1376.86 1145.16 1409.72 465.48 1666.58 463.4 1923.44 461.32 1988.32 946.39 2163.89 992.6' stroke='rgba(125%2c 185%2c 69%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M517.89 1105.3C741.8 1007.11 751.89 327.2 1076.24 302.36 1400.6 277.52 1355.42 437.36 1634.6 437.36 1913.77 437.36 2049.34 303.31 2192.95 302.36' stroke='rgba(125%2c 185%2c 69%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M399.68 1158.31C681.43 1120.74 781.01 508.85 1304.79 470.22 1828.57 431.59 1964.8 99.71 2209.9 92.22' stroke='rgba(125%2c 185%2c 69%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M548.93 1114.51C768.65 977.11 661.62 207.1 1045.01 204.34 1428.4 201.58 1755.3 727.23 2037.18 744.34' stroke='rgba(125%2c 185%2c 69%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M309.08 1080.17C507.07 1033.21 575.4 510.3 882.71 502.72 1190.03 495.14 1169.53 637.72 1456.35 637.72 1743.16 637.72 1882.66 503.63 2029.98 502.72' stroke='rgba(125%2c 185%2c 69%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

h1 {
  color: white !important;
}
a:hover,
a:focus {
  color: var(--primary-color-dark);
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: var(--primary-color-darker);
}
.btn:focus,
.btn:hover,
.btn:active,
.btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color-dark);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-darker);
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: var(--primary-color);
}
.badge {
  background-color: var(--accent-color-dark);
}
.well {
  background-color: white;
  text-align: center;
  box-shadow: var(--box-shadow);
  border: var(--border);
}
.well:hover {
  outline: 2px solid var(--primary-color-dark);
}
header {
  background-color: var(--primary-color);
  display: flex;
}
header > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > div > div.col-xs-4.z-div {
  justify-content: flex-end;
}

header .logo {
  display: flex !important;
}

header .logo > div:first-of-type {
  display: none;
}

header > div > div.col-xs-4.z-div {
  justify-content: flex-end;
}
header > div > div.col-xs-4.z-div > div:not(.pull-right){
  margin-right: 15px;
}

a:has(.fa.fa-sign-in){
  border: 1px solid var(--primary-color-lighter);
  width: 110px;
  height: 42px;
  display: flex;
}

a:has(.fa.fa-sign-in) i{
  display: flex;
  align-items: center;
  color: white !important;
}

.headerComponent .loginOverlay{
  background-color: var(--primary-color-lighter) !important;
}
/*header div:has(.headerSignedIn){
  display: flex;
  justify-content: flex-end;
}  */
.headerSignedIn > .z-div:first-of-type {
  /* display: none !important;*/
  display: none;
}

header > .container{
  display: flex;
}

.frontpage header > .container.z-div > .col-xs-4.z-div {
  display: flex;
  justify-content: flex-end;
}

.headerSignedIn > .z-div > .btn.btn-danger.pull-right.z-a {
  display: none;
}

.headerSignedIn span {
  font-size: 24px;
  color: white;
}

.headerSignedIn .z-div {
  padding: 0 !important;
  display: flex;
}

.back-well {
  background-color: white;
}
.widget {
  border: var(--border);
  box-shadow: var(--box-shadow);
}
.widget .widget-title {
  color: white;
  background-color: var(--primary-color);
  padding: 15px;
}

.widget .widget-title span{
  font-size: 18px;
}

.content .widget{
  box-shadow: none;
  text-align: initial;
}
.widget.messageboard{
  display: block;
}
.widget.messageboard > .widget-title {
  background-color: var(--alert-color);
  color: white;
}
.widget.messageboard .messageboard-item{
  border-radius: 4px;
}
.widget.messageboard .messageboard-item:only-of-type{
  border-radius: 4px;
}
.widget.messageboard .messageboard-item:last-of-type{
  border-bottom: none;
  border-radius: 0 0 4px 4px
}
.widget.messageboard:not(:has(div):has(.messageboard-item)){
  display: none;
}
.col-xs-12.col-sm-7.col-md-8.col-lg-8.z-div > span > p{
  border: var(--border);
  border-radius: 4px;
  padding: 15px;
  background-color: white;
  margin-top: -30px;
  width: fit-content;
}
span.bootstrap.z-datebox a.z-datebox-button {
  background: var(--primary-color);
  border-color: var(--primary-color-darker);
}
span.bootstrap.z-datebox a.z-datebox-button:hover {
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-darker);
}
#faqSearchButton,
#searchButton {
  background-color: var(--primary-color);
  color: white;
}

#faqSearchButton:hover,
#searchButton:hover {
  background-color: var(--primary-color-dark);
  color: white;
}

#faqSearchButton i,
#searchButton i {
  color: white !important;
}

.z-window-noborder.z-window-noheader .z-window-content{
  background-color: transparent;
  padding: 0;
}

.z-ckeditor{
  border: var(--border);
  border-radius: 4px;
}
.frontpage
  .content
  > .z-window.z-window-noborder.z-window-noheader.z-window-embedded:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-align: center;
}

.frontpage .content > .z-window.z-window-noborder.z-window-noheader.z-window-embedded:first-of-type > .z-window-content{
  padding: 0;
}

.frontpage
  .content
  > .z-window.z-window-noborder.z-window-noheader.z-window-embedded{
  border-radius: 4px;
  text-align: center;
  background-color: transparent;
}

.frontpage
  .content
  > .z-window.z-window-noborder.z-window-noheader.z-window-embedded
  > .z-window-content{
  border: 0;
}

.frontpage
  .content
  > .z-window.z-window-noborder.z-window-noheader.z-window-embedded
  ~ .z-window.z-window-noborder.z-window-noheader.z-window-embedded {
  text-align: center;
}

.frontpage .content > .z-window > .z-window-content > .row{
  padding: 15px;
  border: var(--border);
  border-radius: 4px;
  background-color: white;
  margin: 0;
}

.frontpage .content > .z-window > .z-window-content > .row > .col-md-12.z-div > .p.z-div{
  display: flex;
  
}

.frontpage
  .sidebar
  > .z-window.z-window-noborder.z-window-noheader.z-window-embedded {
  border-radius: 0 0 4px 4px;
  background-color: transparent;
}

.frontpage
  .sidebar
  > .z-window.z-window-noborder.z-window-noheader.z-window-embedded:first-of-type {
  border-radius: 4px 4px 0 0;
}

.frontpage
  .sidebar
  > .z-window.z-window-noborder.z-window-noheader.z-window-embedded
  > div {
  background-color: transparent;
  padding: 0 !important;
}

i {
  color: var(--primary-color-dark) !important;
}

.well {
  min-height: 150px !important;
  border-radius: 4px;
}

UL > LI > .z-a {
  color: var(--primary-color-darker) !important;
}

.btn-success{
  background-color: var(--success-color);
  border-color: var(--success-color-dark);
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: var(--success-color-dark);
  border-color: var(--success-color-darker);
}

button > i,
.btn-success > i {
  color: white !important;
}

.z-datebox-icon {
  color: white !important;
}

.headerSignedIn .z-label {
  display: flex;
  flex-direction: column;
}

.headerSignedIn .z-label::before {
  content: "Inloggad som:";
  color: white;
  font-size: 14px;
}

.nav-pills > li.active > a {
  color: white !important;
}

#faqList ~ .z-div {
  background-color: white;
  border-radius: 4px;
  padding: 15px;
}

a:focus{
  outline-color: var(--accent-color-dark) !important;
}

.z-a:hover{
  color: var(--primary-color-light);
}

.form-control{
  border: var(--border);
}

.list_item_in_focus{
  background-color: var(--primary-color) !important;
}
.mobileItemListComponent .mobile-listbox .z-listitem.z-listitem-selected{
  background-color: var(--primary-color) !important;
}
.mobileItemListComponent .mobile-listbox .z-listitem.z-listitem-selected:hover{
  background-color: var(--primary-color-dark) !important;
}
.mobileItemListComponent .mobile-listbox .z-listitem.z-listitem-selected.z-listitem-focus {
  background-color: var(--primary-color-dark) !important;
}
.mobileItemListComponent .mobile-listbox .z-listitem.z-listitem-selected:hover.z-listitem-focus {
  background-color: var(--primary-color-dark) !important;
}
.form-control:focus, .z-textbox:focus, .z-decimalbox:focus, .z-intbox:focus, .z-longbox:focus, .z-doublebox:focus, .z-select:focus, .z-checkbox input:focus, .z-datebox input:focus, .map-function .mapButton:focus, .z-radiogroup input[type="radio"]:focus{
  outline-color: var(--primary-color-dark) !important;
}
.form-control:focus{
  border-color: var(--primary-color) !important;
}

.z-datebox > .z-datebox-input:has(+ .z-datebox-button){
  border: var(--border) !important;
  
  border-right: none !important;
}
.z-datebox > .z-datebox-input:has(+ .z-datebox-disabled){
  border: var(--border) !important;
  border-radius: 4px;
}

/***** UNCOMMENT THIS FOR "BIG-BUTTON" LAYOUT FOR "MINA ÄRENDEN"
.frontpage .row.z-div > .col-sm-6.z-div:first-of-type > div > a > div{
  display: flex;
  flex-direction: column;
}
.frontpage .row.z-div > .col-sm-6.z-div:first-of-type > div > a{
  flex-basis: 100%;
}
.frontpage .row.z-div > .col-sm-6.z-div:first-of-type{
  flex-basis: 100%;
}
.frontpage .row.z-div:first-of-type{
  display: flex;
  flex-wrap: wrap;
}
*****/

