/*** fonts ***/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

/*****  CHANGES BY SKÖVDE KOMMUN IT/ALICE *****/
:root {
  --primary-color: #7DB945;
  --primary-color-light: #D3EAC2;
  --primary-color-lighter: #f2f8ec;
  --primary-color-dark: #3f5d23;
  --primary-color-darker: #0c1207;
  --accent-color: #531F6E;
  --accent-color-light: #a98fb7;
  --accent-color-lighter: #eee9f1;
  --accent-color-dark: #2a1037;
  --accent-color-darker: #08030b;
  --alert-color: #d42f2f;
  --success-color: #00661F;
  --success-color-dark: #0B501E;
  --success-color-darker: #082B0E;
  --box-shadow: 0 1px 3px 0 #cccccc;
  --box-shadow: none;
  --border: 1px solid var(--primary-color-dark);
}

html,
body,
.carousel-control .icon-prev,
.carousel-control .icon-next,
header .logo h1,
button,
input,
select,
textarea,
.btn-help {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: white !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='3840' height='2160' preserveAspectRatio='none' viewBox='0 0 3840 2160'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1064%26quot%3b)' fill='none'%3e%3cpath d='M682 643L681 40' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M2186 1256L2185 2725' stroke-width='8' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M2257 1578L2256 2563' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M135 1322L134 2639' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M608 1564L607 30' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M367 979L366 2295' stroke-width='10' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1784 566L1783 1770' stroke-width='6' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1052 1681L1051 2317' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1179 2013L1178 3585' stroke-width='10' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M2241 2083L2240 3130' stroke-width='8' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M302 1082L301 -261' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M2212 1743L2211 2877' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M2792 901L2791 2012' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M2679 72L2678 953' stroke-width='6' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M3553 375L3552 1082' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M3798 1760L3797 273' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M2354 754L2353 -334' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1236 1612L1235 15' stroke-width='8' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M21 1442L20 541' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M220 1532L219 2193' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M3104 1299L3103 614' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M2725 1076L2724 -384' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M2831 1793L2830 335' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M3227 679L3226 1580' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M356 1444L355 342' stroke-width='8' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M2813 391L2812 1464' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M3629 1397L3628 -196' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M3747 1786L3746 2606' stroke-width='8' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M3407 704L3406 1992' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1197 614L1196 1363' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M993 18L992 1075' stroke-width='6' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M314 1086L313 1967' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M879 581L878 -716' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M2274 30L2273 -795' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M3076 729L3075 1515' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M2063 752L2062 1913' stroke-width='6' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M142 269L141 918' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M2187 376L2186 -1141' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M2284 1202L2283 2738' stroke-width='6' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M300 859L299 30' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1997 1197L1996 2747' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M525 1783L524 2666' stroke-width='6' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1839 976L1838 -613' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M3092 2152L3091 572' stroke-width='6' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1087 992L1086 386' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M3035 1774L3034 275' stroke-width='10' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M468 1176L467 1881' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1771 750L1770 -815' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M380 1657L379 2812' stroke-width='8' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1097 1158L1096 -337' stroke-width='8' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M2864 870L2863 1814' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M738 1675L737 2885' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1588 552L1587 1288' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1976 1256L1975 -197' stroke-width='10' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M2843 1107L2842 1775' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1472 1119L1471 41' stroke-width='6' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M2576 704L2575 2255' stroke-width='10' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M2253 1368L2252 2138' stroke-width='10' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M3294 1958L3293 3328' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M2963 811L2962 1602' stroke-width='6' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M2516 722L2515 1435' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M3235 1487L3234 2822' stroke-width='10' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M524 1721L523 492' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M3807 1477L3806 2245' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M2332 1077L2331 2314' stroke-width='6' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M160 281L159 -1043' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M74 989L73 265' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M2127 910L2126 -420' stroke-width='8' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M475 371L474 -741' stroke-width='6' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M2205 1870L2204 1001' stroke-width='10' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M3745 376L3744 -996' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M2105 1286L2104 671' stroke-width='8' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1584 1624L1583 3137' stroke-width='6' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M3321 43L3320 1226' stroke-width='6' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1543 650L1542 -936' stroke-width='6' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M186 25L185 907' stroke-width='8' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M2891 912L2890 2417' stroke-width='8' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M3039 1526L3038 2945' stroke-width='8' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M2104 1719L2103 253' stroke-width='6' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1155 2091L1154 2706' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M3772 579L3771 1583' stroke-width='6' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M585 1055L584 1619' stroke-width='10' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M3072 1678L3071 2614' stroke-width='8' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M957 2009L956 3037' stroke-width='6' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M2879 78L2878 -709' stroke-width='8' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M3486 2131L3485 3339' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M2312 1237L2311 2058' stroke-width='10' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M57 927L56 -412' stroke-width='8' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M2989 496L2988 -903' stroke-width='8' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M3663 514L3662 -677' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M357 60L356 929' stroke-width='10' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M3453 298L3452 1470' stroke-width='6' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1793 1869L1792 2549' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M3444 2002L3443 3541' stroke-width='10' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M233 441L232 1710' stroke-width='10' stroke='url(%23SvgjsLinearGradient1066)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M3541 1261L3540 76' stroke-width='8' stroke='url(%23SvgjsLinearGradient1065)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1064'%3e%3crect width='3840' height='2160' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1065'%3e%3cstop stop-color='rgba(172%2c 227%2c 120%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(172%2c 227%2c 120%2c 0.27)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1066'%3e%3cstop stop-color='rgba(172%2c 227%2c 120%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(172%2c 227%2c 120%2c 0.27)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

h1 {
  color: white !important;
}
a:hover,
a:focus {
  color: var(--primary-color-dark);
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: var(--primary-color-darker);
}
.btn:focus,
.btn:hover,
.btn:active,
.btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color-dark);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-darker);
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: var(--primary-color);
}
.badge {
  background-color: var(--accent-color-dark);
}
.well {
  background-color: white;
  text-align: center;
  box-shadow: var(--box-shadow);
  border: var(--border);
}
.well:hover {
  outline: 2px solid var(--primary-color-dark);
}
header {
  background-color: var(--primary-color);
  display: flex;
}
header > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > div > div.col-xs-4.z-div {
  justify-content: flex-end;
}

header .logo {
  display: flex !important;
}

header .logo > div:first-of-type {
  display: none;
}

header > div > div.col-xs-4.z-div {
  justify-content: flex-end;
}
header > div > div.col-xs-4.z-div > div:not(.pull-right){
  margin-right: 15px;
}

a:has(.fa.fa-sign-in){
  border: 1px solid var(--primary-color-lighter);
  width: 110px;
  height: 42px;
  display: flex;
}

a:has(.fa.fa-sign-in) i{
  display: flex;
  align-items: center;
  color: white !important;
}

.headerComponent .loginOverlay{
  background-color: var(--primary-color-lighter) !important;
}
/*header div:has(.headerSignedIn){
  display: flex;
  justify-content: flex-end;
}  */
.headerSignedIn > .z-div:first-of-type {
  /* display: none !important;*/
  display: none;
}

header > .container{
  display: flex;
}

.frontpage header > .container.z-div > .col-xs-4.z-div {
  display: flex;
  justify-content: flex-end;
}

.headerSignedIn > .z-div > .btn.btn-danger.pull-right.z-a {
  display: none;
}

.headerSignedIn span {
  font-size: 24px;
  color: white;
}

.headerSignedIn .z-div {
  padding: 0 !important;
  display: flex;
}

.back-well {
  background-color: white;
}
.widget {
  border: var(--border);
  box-shadow: var(--box-shadow);
}
.widget .widget-title {
  color: white;
  background-color: var(--primary-color);
  padding: 15px;
}

.widget .widget-title span{
  font-size: 18px;
}

.content .widget{
  box-shadow: none;
  text-align: initial;
}
.widget.messageboard{
  display: block;
}
.widget.messageboard > .widget-title {
  background-color: var(--alert-color);
  color: white;
}
.widget.messageboard .messageboard-item{
  border-radius: 4px;
}
.widget.messageboard .messageboard-item:only-of-type{
  border-radius: 4px;
}
.widget.messageboard .messageboard-item:last-of-type{
  border-bottom: none;
  border-radius: 0 0 4px 4px
}
.widget.messageboard:not(:has(div):has(.messageboard-item)){
  display: none;
}
.col-xs-12.col-sm-7.col-md-8.col-lg-8.z-div > span > p{
  border: var(--border);
  border-radius: 4px;
  padding: 15px;
  background-color: white;
  margin-top: -30px;
  width: fit-content;
}
span.bootstrap.z-datebox a.z-datebox-button {
  background: var(--primary-color);
  border-color: var(--primary-color-darker);
}
span.bootstrap.z-datebox a.z-datebox-button:hover {
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-darker);
}
#faqSearchButton,
#searchButton {
  background-color: var(--primary-color);
  color: white;
}

#faqSearchButton:hover,
#searchButton:hover {
  background-color: var(--primary-color-dark);
  color: white;
}

#faqSearchButton i,
#searchButton i {
  color: white !important;
}

.z-window-noborder.z-window-noheader .z-window-content{
  background-color: transparent;
  padding: 0;
}

.z-ckeditor{
  border: var(--border);
  border-radius: 4px;
}
.frontpage
  .content
  > .z-window.z-window-noborder.z-window-noheader.z-window-embedded:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-align: center;
}

.frontpage .content > .z-window.z-window-noborder.z-window-noheader.z-window-embedded:first-of-type > .z-window-content{
  padding: 0;
}

.frontpage
  .content
  > .z-window.z-window-noborder.z-window-noheader.z-window-embedded{
  border-radius: 4px;
  text-align: center;
  background-color: transparent;
}

.frontpage
  .content
  > .z-window.z-window-noborder.z-window-noheader.z-window-embedded
  > .z-window-content{
  border: 0;
}

.frontpage
  .content
  > .z-window.z-window-noborder.z-window-noheader.z-window-embedded
  ~ .z-window.z-window-noborder.z-window-noheader.z-window-embedded {
  text-align: center;
}

.frontpage .content > .z-window > .z-window-content > .row{
  padding: 15px;
  border: var(--border);
  border-radius: 4px;
  background-color: white;
  margin: 0;
}

.frontpage .content > .z-window > .z-window-content > .row > .col-md-12.z-div > .p.z-div{
  display: flex;
  
}

.frontpage
  .sidebar
  > .z-window.z-window-noborder.z-window-noheader.z-window-embedded {
  border-radius: 0 0 4px 4px;
  background-color: transparent;
}

.frontpage
  .sidebar
  > .z-window.z-window-noborder.z-window-noheader.z-window-embedded:first-of-type {
  border-radius: 4px 4px 0 0;
}

.frontpage
  .sidebar
  > .z-window.z-window-noborder.z-window-noheader.z-window-embedded
  > div {
  background-color: transparent;
  padding: 0 !important;
}

i {
  color: var(--primary-color-dark) !important;
}

.well {
  min-height: 150px !important;
  border-radius: 4px;
}

UL > LI > .z-a {
  color: var(--primary-color-darker) !important;
}

.btn-success{
  background-color: var(--success-color);
  border-color: var(--success-color-dark);
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: var(--success-color-dark);
  border-color: var(--success-color-darker);
}

button > i,
.btn-success > i {
  color: white !important;
}

.z-datebox-icon {
  color: white !important;
}

.headerSignedIn .z-label {
  display: flex;
  flex-direction: column;
}

.headerSignedIn .z-label::before {
  content: "Inloggad som:";
  color: white;
  font-size: 14px;
}

.nav-pills > li.active > a {
  color: white !important;
}

#faqList ~ .z-div {
  background-color: white;
  border-radius: 4px;
  padding: 15px;
}

a:focus{
  outline-color: var(--accent-color-dark) !important;
}

.z-a:hover{
  color: var(--primary-color-light);
}

.form-control{
  border: var(--border);
}

.list_item_in_focus{
  background-color: var(--primary-color) !important;
}
.mobileItemListComponent .mobile-listbox .z-listitem.z-listitem-selected{
  background-color: var(--primary-color) !important;
}
.mobileItemListComponent .mobile-listbox .z-listitem.z-listitem-selected:hover{
  background-color: var(--primary-color-dark) !important;
}
.mobileItemListComponent .mobile-listbox .z-listitem.z-listitem-selected.z-listitem-focus {
  background-color: var(--primary-color-dark) !important;
}
.mobileItemListComponent .mobile-listbox .z-listitem.z-listitem-selected:hover.z-listitem-focus {
  background-color: var(--primary-color-dark) !important;
}
.form-control:focus, .z-textbox:focus, .z-decimalbox:focus, .z-intbox:focus, .z-longbox:focus, .z-doublebox:focus, .z-select:focus, .z-checkbox input:focus, .z-datebox input:focus, .map-function .mapButton:focus, .z-radiogroup input[type="radio"]:focus{
  outline-color: var(--primary-color-dark) !important;
}
.form-control:focus{
  border-color: var(--primary-color) !important;
}

.z-datebox > .z-datebox-input:has(+ .z-datebox-button){
  border: var(--border) !important;
  
  border-right: none !important;
}
.z-datebox > .z-datebox-input:has(+ .z-datebox-disabled){
  border: var(--border) !important;
  border-radius: 4px;
}

/***** UNCOMMENT THIS FOR "BIG-BUTTON" LAYOUT FOR "MINA ÄRENDEN"
.frontpage .row.z-div > .col-sm-6.z-div:first-of-type > div > a > div{
  display: flex;
  flex-direction: column;
}
.frontpage .row.z-div > .col-sm-6.z-div:first-of-type > div > a{
  flex-basis: 100%;
}
.frontpage .row.z-div > .col-sm-6.z-div:first-of-type{
  flex-basis: 100%;
}
.frontpage .row.z-div:first-of-type{
  display: flex;
  flex-wrap: wrap;
}
*****/

